<h2 mat-dialog-title>Terminos y Condiciones Mayber</h2>
<mat-dialog-content class="mat-typography">
  <h1>Términos y condiciones</h1>
	<p>Al utilizar la plataforma Mayber, el usuario acepta las siguientes condiciones:</p>
	<ol>
		<li>El usuario se compromete a utilizar la plataforma de forma apropiada y responsable.</li>
		<li>No se realizarán reembolsos de dinero una vez que la cuenta haya sido utilizada.</li>
		<li>La plataforma proporciona resultados con un nivel de precisión del 80%.</li>
		<li>El usuario acepta usar la plataforma sin intenciones de enriquecerse o obtener ganancias.</li>
		<li>El usuario declara ser mayor de edad y asumir la responsabilidad de sus acciones en la plataforma.</li>
		<li>El usuario deberá cumplir con el tiempo de licencia que se le otorga en la plataforma.</li>
		<li>Está prohibido crear cuentas falsas en la plataforma Mayber.</li>
	</ol>
	<p>El uso de la plataforma Mayber implica la aceptación de estas condiciones. Si el usuario no acepta estas condiciones, no debería utilizar la plataforma.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Aceptar</button>
</mat-dialog-actions>
