<h2 mat-dialog-title>Instrucciones de Uso Mayber</h2>
<mat-dialog-content class="mat-typography">
  <div fxLayout="column" fxLayoutAlign="start center" class="container">
    <div fxLayout="column" fxLayoutAlign=" start" class="info-btns">
      <img src="../../../assets/buttons-instructions.PNG" alt="" class="img-instruction">
      <p>Debes revisar el historial de Aviator y asi mismo ir presionando los botones en sus colores correspondientes al historial de Aviator. <strong>Ten en cuenta que debes tomar los datos historicos exactos para que Mayber pueda hacer un analisis acertado, ya que de lo contrario Mayber arrojará malos resultados.</strong></p>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div fxLayout="column" fxLayoutAlign=" start" class="info-btns">
      <img src="../../../assets/toggle-instruction.PNG" alt="">
      <p><strong>Analisis Maximo: </strong>Permite que Mayber haga un analisis profundo frente a los datos historicos de Aviator, dandote resultados con un 90% de efectividad</p>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div fxLayout="column" fxLayoutAlign=" start" class="info-btns">
      <p><strong>Debe tener en cuenta: </strong>Mayber tiene un 90% de efectividad sobre la prediccion de Aviator en cualquier casa de apuesta, por lo que un 10% puede afectar el resultado. Nuestra comunidad trabaja en la calidad de Mayber para que su efectividad sea mayor cada dia.</p>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Entendido</button>
</mat-dialog-actions>
